<div>
  <br>
  <h3>Categories</h3>
  <hr>
  <div fxLayout="row">
    <div fxFlex="30">
      <p class="section_description">Category</p>
      <select id="selectCategory" [(ngModel)]="selectedCategory" (ngModelChange)="onSelectCategory($event)">
        <option *ngFor="let name of sortedCategories" [selected]="name == selectedCategoryName">{{ name }}</option>
      </select>
      <br>
      <div *ngIf="selectedCategoryName === undefined">
        <p class="section_description">All Recipes</p>
      </div>
      <div *ngIf="selectedCategoryName">
        <p class="section_description">{{ selectedCategoryName }} Recipes</p>
      </div>
      <div class="recipeListScrollBox">
        <div *ngIf="sortedRecipes?.length > 0">
          <ul>
            <li *ngFor="let name of sortedRecipes" class="selectRecipe"
              [class.selected]="name === selectedRecipeName" (click)="onSelectRecipe(name)">
              <span>{{ name }}</span>
            </li>
          </ul> 
        </div>
        <div *ngIf="sortedRecipes?.length == 0">
          <ul>
            <li>
              <span>No Recipes for Category!</span>
            </li>
          </ul>
        </div>
      </div>
      <br><br>
      <button md-raised-button color="accent" (click)="addCategory()">Add Category</button>
      <br><br>
      <button md-raised-button color="accent" (click)="editCategory()">Edit Category</button>
    </div>
    <div fxFlex="70">
      <p class="section_description">{{ selectedRecipeName }} Recipe</p>
      <div class="recipeScrollBox">
        <div *ngIf="selectedRecipeName === undefined">
          <p>Select Recipe from List!</p>
        </div>
        <div *ngIf="selectedRecipeName">
          <p>TODO: Add recipe details functionality and Edit recipe button?</p>
        </div>
      </div>
    </div>
  </div>
</div>
