<div>
  <br>
  <h3>Home</h3>
  <hr>
  <div fxLayout="row">
    <div fxFlex="30">
      <p class="section_description">Categories</p>
      <ul class="categories">
        <li *ngFor="let name of sortedCategories"
          [class.selected]="name === selectedCategoryName" (click)="onSelectCategory(name)">
          <div *ngIf="selectedCategoryName === undefined && name == 'All'">
            <span class="all-default-category">{{ name }}</span>
          </div>
          <div *ngIf="selectedCategoryName || name != 'All'">
            <span>{{ name }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div fxFlex="70">
      <div *ngIf="selectedCategoryName === undefined">
        <p class="section_description">All Recipes</p>
      </div>
      <div *ngIf="selectedCategoryName">
        <p class="section_description">{{ selectedCategoryName }} Recipes</p>
      </div>
      <ul class="recipes">
        <li *ngFor="let name of sortedRecipes">
          <span>{{ name }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
