<div class="recipe-box-app">
  <h1>Recipe Box</h1>
  <md-toolbar color="primary">
    <a routerLink="/categories" class="toolbar-item" routerLinkActive="active-link">Categories</a>
    <a routerLink="/recipes" class="toolbar-item" routerLinkActive="active-link">Recipes</a>
    <a routerLink="/ingredients" class="toolbar-item" routerLinkActive="active-link">Ingredients</a>
    <a routerLink="/units" class="toolbar-item" routerLinkActive="active-link">Units</a>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>
  <router-outlet></router-outlet>
</div>
