.recipe-box-app {
  margin: auto;
  width: 1000px;
}
.app-title {
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}
.toolbar-item {
  color: rgba(255,255,255,.87);
  text-align: center;
  text-decoration: none;
  width: 8em;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
